script(type="text/ng-template", id="resorts-list/resorts-list.html")
    include resorts-list
script(type="text/ng-template", id="resorts-list/resorts-list-toolbar.html")
    include resorts-list-toolbar
