md-button.md-fab(ng-disabled="!toolbar.isAddEnabled()" aria-label="Add New" ng-click="toolbar.addNew()")
  md-icon(icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg")            
