md-text-float(label='Search' ng-model='search.searchStr' ng-model-options="{debounce: 1000}")          
md-list
  md-item(ng-repeat="res in search.results")
    md-item-content
      div.md-tile-content
        a(ng-href="#/resort/{{res.code}}/info") 
          span(ng-bind-html="res.label")
