doctype html
html(lang="en")
  head
  
  link(rel='stylesheet', href='bower_components/angular-material/angular-material.min.css')
  link(rel='stylesheet', href='css/lime-theme.css')
  link(rel='stylesheet', href='css/site.css')      
  script(src='bower_components/hammerjs/hammer.min.js')
  script(src='bower_components/angular/angular.min.js')
  script(src='bower_components/angular-animate/angular-animate.min.js')
  script(src='bower_components/angular-aria/angular-aria.min.js')
  script(src='bower_components/angular-material/angular-material.min.js')
  script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
  script(src='bower_components/lodash/dist/lodash.min.js')
  script(src='bower_components/angular-google-maps/dist/angular-google-maps.min.js')
  script(src='bower_components/angular-messages/angular-messages.min.js')
  script(src='bower_components/ng-file-upload-shim/angular-file-upload-all.min.js')
  script(src='http://maps.google.cn/maps/api/js?sensor=false')
    

  script(src='app.js')

  script(src="http://localhost:35729/livereload.js")    

  body(layout="row" md-theme="lime" ng-app="ride-better-console")
    
    md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left" md-is-locked-open="$media('min-width: 333px')")
      md-toolbar
        div(ui-view="nav-toolbar")  
      md-content.md-padding
        div(ui-view="nav")                
    div(layout-fill tabIndex="-1" role="main")      
      md-toolbar
        .md-toolbar-tools(ng-controller="toolbarCtl")
          span Ride Better
          span(flex)          
          span(ui-view="toolbar")  
          md-button.md-fab(aria-label="User")
            md-icon(icon="https://en.gravatar.com/userimage/21696765/848661695c141478d7a803f516105669.jpg?size=60" style="width: 24px; height: 24px; margin-top: -7px; margin-left: -35px;")            
      md-content.md-padding(ng-view md-scroll-y flex)
        div(layout="row")
          div(ui-view="content")


    include resort/_index          
    include resorts-list/_index          
