/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.6.1-master-d9c13d9
 */
md-backdrop.md-opaque.md-lime-theme {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute; }

md-bottom-sheet.md-lime-theme {
  background-color: #fafafa;
  border-top-color: #bdbdbd; }
  md-bottom-sheet.md-lime-theme.md-list md-item {
    color: rgba(0, 0, 0, 0.54); }
  md-bottom-sheet.md-lime-theme .md-subheader {
    background-color: #fafafa; }
  md-bottom-sheet.md-lime-theme .md-subheader {
    color: rgba(0, 0, 0, 0.54); }

.md-button.md-lime-theme {
  border-radius: 3px; }
  .md-button.md-lime-theme:not([disabled]):hover, .md-button.md-lime-theme:not([disabled]):focus {
    background-color: rgba(158, 158, 158, 0.2); }
  .md-button.md-lime-theme.md-fab {
    border-radius: 50%; }
  .md-button.md-lime-theme.md-primary {
    color: #d4e157;
    fill: #d4e157; }
  .md-button.md-lime-theme.md-warn {
    color: #ef5350;
    fill: #ef5350; }
  .md-button.md-lime-theme.md-raised, .md-button.md-lime-theme.md-fab {
    background-color: rgba(158, 158, 158, 0.185); }
    .md-button.md-lime-theme.md-raised:not([disabled]):hover, .md-button.md-lime-theme.md-raised:not([disabled]):focus, .md-button.md-lime-theme.md-fab:not([disabled]):hover, .md-button.md-lime-theme.md-fab:not([disabled]):focus {
      background-color: rgba(158, 158, 158, 0.3); }
    .md-button.md-lime-theme.md-raised.md-primary, .md-button.md-lime-theme.md-fab.md-primary {
      color: rgba(0, 0, 0, 0.73);
      background-color: #cddc39; }
      .md-button.md-lime-theme.md-raised.md-primary:not([disabled]):hover, .md-button.md-lime-theme.md-raised.md-primary:not([disabled]):focus, .md-button.md-lime-theme.md-fab.md-primary:not([disabled]):hover, .md-button.md-lime-theme.md-fab.md-primary:not([disabled]):focus {
        background-color: #c0ca33; }
    .md-button.md-lime-theme.md-raised.md-warn, .md-button.md-lime-theme.md-fab.md-warn {
      color: rgba(0, 0, 0, 0.73);
      background-color: #f44336; }
      .md-button.md-lime-theme.md-raised.md-warn:not([disabled]):hover, .md-button.md-lime-theme.md-raised.md-warn:not([disabled]):focus, .md-button.md-lime-theme.md-fab.md-warn:not([disabled]):hover, .md-button.md-lime-theme.md-fab.md-warn:not([disabled]):focus {
        background-color: #d32f2f; }
  .md-button.md-lime-theme[disabled], .md-button.md-lime-theme.md-raised[disabled], .md-button.md-lime-theme.md-fab[disabled] {
    color: rgba(0, 0, 0, 0.26);
    fill: rgba(0, 0, 0, 0.26);
    background-color: transparent;
    cursor: not-allowed; }

md-card.md-lime-theme {
  border-radius: 2px; }
  md-card.md-lime-theme .md-card-image {
    border-radius: 2px 2px 0 0; }

md-checkbox.md-lime-theme .md-ripple {
  color: #43a047; }
md-checkbox.md-lime-theme.md-checked .md-ripple {
  color: #757575; }
md-checkbox.md-lime-theme .md-icon {
  border-color: rgba(0, 0, 0, 0.54); }
md-checkbox.md-lime-theme.md-checked .md-icon {
  background-color: rgba(102, 187, 106, 0.87); }
md-checkbox.md-lime-theme.md-checked .md-icon:after {
  border-color: #eeeeee; }
md-checkbox.md-lime-theme[disabled] .md-icon {
  border-color: rgba(0, 0, 0, 0.26); }
md-checkbox.md-lime-theme[disabled].md-checked .md-icon {
  background-color: rgba(0, 0, 0, 0.26); }

md-content.md-lime-theme {
  background-color: #ffffff; }

md-dialog.md-lime-theme {
  border-radius: 4px;
  background-color: #ffffff; }
  md-dialog.md-lime-theme.md-content-overflow .md-actions {
    border-top-color: rgba(0, 0, 0, 0.12); }

md-divider.md-lime-theme {
  border-top-color: rgba(0, 0, 0, 0.12); }

md-progress-circular.md-lime-theme {
  background-color: transparent; }
  md-progress-circular.md-lime-theme .md-inner .md-gap {
    border-top-color: #cddc39;
    border-bottom-color: #cddc39; }
  md-progress-circular.md-lime-theme .md-inner .md-left .md-half-circle, md-progress-circular.md-lime-theme .md-inner .md-right .md-half-circle {
    border-top-color: #cddc39; }
  md-progress-circular.md-lime-theme .md-inner .md-right .md-half-circle {
    border-right-color: #cddc39; }
  md-progress-circular.md-lime-theme .md-inner .md-left .md-half-circle {
    border-left-color: #cddc39; }

md-progress-linear.md-lime-theme .md-container {
  background-color: #f0f4c3; }
md-progress-linear.md-lime-theme .md-bar {
  background-color: #cddc39; }
md-progress-linear.md-lime-theme[md-mode=buffer] .md-dashed:before {
  background: radial-gradient(#f0f4c3 0%, #f0f4c3 16%, transparent 42%); }
md-progress-linear.md-lime-theme[md-mode=buffer] .md-bar1 {
  background-color: #f0f4c3; }

md-radio-button.md-lime-theme .md-container .md-ripple, md-switch.md-lime-theme .md-switch-thumb .md-container .md-ripple {
  color: #43a047; }
md-radio-button.md-lime-theme .md-off, md-switch.md-lime-theme .md-switch-thumb .md-off {
  border-color: rgba(0, 0, 0, 0.54); }
md-radio-button.md-lime-theme .md-on, md-switch.md-lime-theme .md-switch-thumb .md-on {
  background-color: rgba(102, 187, 106, 0.87); }
md-radio-button.md-lime-theme.md-checked .md-off, md-switch.md-lime-theme .md-switch-thumb.md-checked .md-off {
  border-color: rgba(102, 187, 106, 0.87); }
md-radio-button.md-lime-theme.md-checked .md-ink-ripple, md-switch.md-lime-theme .md-switch-thumb.md-checked .md-ink-ripple {
  color: rgba(102, 187, 106, 0.87); }

md-radio-group.md-lime-theme:focus {
  border-color: rgba(0, 0, 0, 0.73); }

md-slider.md-lime-theme .md-track {
  background-color: rgba(0, 0, 0, 0.26); }
md-slider.md-lime-theme .md-track-fill {
  background-color: #cddc39; }
md-slider.md-lime-theme .md-thumb:after {
  border-color: #cddc39;
  background-color: #cddc39; }
md-slider.md-lime-theme .md-sign {
  background-color: #cddc39; }
  md-slider.md-lime-theme .md-sign:after {
    border-top-color: #cddc39; }
md-slider.md-lime-theme .md-thumb-text {
  color: rgba(0, 0, 0, 0.73); }
md-slider.md-lime-theme .md-focus-thumb {
  background-color: rgba(0, 0, 0, 0.54); }
md-slider.md-lime-theme .md-focus-ring {
  border-color: rgba(0, 0, 0, 0.12); }
md-slider.md-lime-theme .md-disabled-thumb {
  border-color: #ffffff; }
md-slider.md-lime-theme.md-min .md-thumb:after {
  background-color: #ffffff; }
md-slider.md-lime-theme[disabled] .md-thumb:after {
  border-color: #bdbdbd; }
md-slider.md-lime-theme[disabled]:not(.md-min) .md-thumb:after {
  background-color: #bdbdbd; }

.md-subheader.md-lime-theme {
  color: rgba(0, 0, 0, 0.54);
  background-color: #ffffff; }
  .md-subheader.md-lime-theme.md-primary {
    color: #cddc39; }

md-switch.md-lime-theme .md-thumb {
  background-color: #fafafa; }
md-switch.md-lime-theme .md-bar {
  background-color: #9e9e9e; }
md-switch.md-lime-theme.md-checked .md-thumb {
  background-color: #cddc39; }
md-switch.md-lime-theme.md-checked .md-bar {
  background-color: rgba(205, 220, 57, 0.5); }
md-switch.md-lime-theme[disabled] .md-thumb {
  background-color: #bdbdbd; }
md-switch.md-lime-theme[disabled] .md-bar {
  background-color: rgba(0, 0, 0, 0.12); }
md-switch.md-lime-theme:focus .md-text {
  border-color: black;
  border-style: dotted; }

md-tabs.md-lime-theme .md-header {
  background-color: #cddc39; }
md-tabs.md-lime-theme md-tabs-ink-bar {
  color: #ffff85;
  background: #ffff85; }
md-tabs.md-lime-theme md-tab {
  color: #f0f4c3; }
  md-tabs.md-lime-theme md-tab.active {
    color: rgba(0, 0, 0, 0.73); }
  md-tabs.md-lime-theme md-tab[disabled] {
    color: rgba(0, 0, 0, 0.12); }
  md-tabs.md-lime-theme md-tab:focus {
    border-color: rgba(0, 0, 0, 0.73); }
  md-tabs.md-lime-theme md-tab .md-ripple-container {
    color: #ffff85; }

md-input-group.md-lime-theme input, md-input-group.md-lime-theme textarea {
  text-shadow: none; }
  md-input-group.md-lime-theme input:-ms-input-placeholder, md-input-group.md-lime-theme textarea:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.26); }
  md-input-group.md-lime-theme input::-webkit-input-placeholder, md-input-group.md-lime-theme textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.26); }
md-input-group.md-lime-theme label {
  text-shadow: none;
  color: rgba(0, 0, 0, 0.26); }
md-input-group.md-lime-theme input, md-input-group.md-lime-theme textarea {
  color: rgba(0, 0, 0, 0.73);
  border-color: rgba(0, 0, 0, 0.12); }
md-input-group.md-lime-theme.md-input-focused input, md-input-group.md-lime-theme.md-input-focused textarea {
  border-color: #cddc39; }
md-input-group.md-lime-theme.md-input-focused label {
  color: #cddc39; }
md-input-group.md-lime-theme.md-input-has-value:not(.md-input-focused) label {
  color: rgba(0, 0, 0, 0.372); }
md-input-group.md-lime-theme[disabled] input, md-input-group.md-lime-theme[disabled] textarea {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0.19) 50%, rgba(0, 0, 0, 0) 0%); }

md-toast.md-lime-theme {
  background-color: #323232;
  color: white; }
  md-toast.md-lime-theme .md-button {
    color: white; }
  md-toast.md-lime-theme .md-action {
    color: #eeff41; }

md-toolbar.md-lime-theme {
  background-color: #cddc39;
  color: rgba(0, 0, 0, 0.73); }
  md-toolbar.md-lime-theme .md-button {
    color: rgba(0, 0, 0, 0.73); }

md-tooltip.md-lime-theme {
  color: #ffffff; }
  md-tooltip.md-lime-theme .md-background {
    background-color: rgba(0, 0, 0, 0.52); }