script(type="text/ng-template", id="resort/resort.html")
    include resort
script(type="text/ng-template", id="resort/resort-nav.html")
    include resort-nav    
script(type="text/ng-template", id="resort/resort-toolbar.html")
    include resort-toolbar        
script(type="text/ng-template", id="resort/resort-nav-toolbar.html")
    include resort-nav-toolbar            
script(type="text/ng-template", id="resort/resort-info.html")
    include resort-info
script(type="text/ng-template", id="resort/resort-contacts.html")
    include resort-contacts
script(type="text/ng-template", id="resort/resort-proscons.html")
    include resort-proscons    
script(type="text/ng-template", id="resort/resort-maps.html")
    include resort-maps        
script(type="text/ng-template", id="resort/resort-prices.html")
    include resort-prices            
script(type="text/ng-template", id="resort/resort-cams.html")
    include resort-cams                
script(type="text/ng-template", id="resort/resort-add-new.html")
    include resort-add-new                
