h1.md-toolbar-tools(ng-controller="toolbarCtl")
  span(flex) {{origin.resort.title}}
  md-button.md-fab(ng-disabled="!toolbar.isListEnabled()" aria-label="Resorts List" ui-sref="resorts-list")
    md-icon(icon="bower_components/material-design-icons/action/svg/production/ic_list_24px.svg")                                              
