md-button.md-primary(ng-click="add()") Add
form(name="contactsForm")
  div(layout="row" ng-repeat="contact in resort.contacts")        
    md-text-float(label='Contact' ng-model='contact.val' name="val")          
    &nbsp;&nbsp;&nbsp;
    md-text-float(label='Contact Type' ng-model='contact.type' name="type")         
    &nbsp;
    md-text-float(label='Comment' ng-model='contact.comment' name="comment")         
    &nbsp;
    md-button.md-primary.small(ng-click="remove(contact)") x


