md-list
  md-item
    md-item-content
      md-button.md-primary(flex ng-href="#resort/{{origin.resort._id}}/info" ui-sref-active="md-highlight") Info 
  md-item
    md-item-content
      | <md-button class="md-primary" flex href="#resort/{{origin.resort._id}}/contacts" md-highlight="true"> Contacts </md-button>
  md-item
    md-item-content
      | <md-button class="md-primary" flex href="#resort/{{origin.resort._id}}/proscons"> Pros & Cons </md-button>
  md-item
    md-item-content
      | <md-button class="md-primary" flex href="#resort/{{origin.resort._id}}/prices"> Prices </md-button>
  md-item
    md-item-content
      | <md-button class="md-primary" flex href="#resort/{{origin.resort._id}}/maps"> Maps </md-button>
  md-item
    md-item-content
      | <md-button class="md-primary" flex href="#resort/{{origin.resort._id}}/cams"> Webcams </md-button>
