md-button.md-primary(ng-click="addCam()") Add
form(name="camsForm")
  div(layout="row" ng-repeat="cam in resort.cams")        
    md-text-float(label='Index' ng-model='cam.index' name="index")          
    md-text-float(label='Title' ng-model='cam.title' name="title")         
    md-text-float(label='Source' type="url" ng-model='cam.meta.src' name="src")         
    md-button.md-primary.small(ng-click="removeCam(cam)") x


