div(layout="row" layout-margin)
  div
    form(name="infoForm")
      div(ng-messages="infoForm.title.$error")
        div(ng-message="required") Title is required
        div(ng-message="minlength") Title should contain 3 characters at least      
      md-text-float.long(label='Title' name="title" ng-model='resort.title'  minlength="3" required)
      //md-text-float.long(label='Description' ng-model='resort.description')            
      textarea(label='Description' name="description" ng-model='resort.description' rows="10" cols="40")      
      div(style="margin-top: 20px")
      img(ng-src="{{resort.header}}" width="400" height="200")
      br
      input(type="file" ng-file-select ng-model="resort.headerFile" accept="image/*" ng-file-change="setHeaderImageFromFile(resort.headerFile[0])")
  div(flex="5")
  div(flex)                
    md-text-float.long(label='Set marker' ng-model='markerSetter' ng-change="markerSetterChanged(markerSetter)")
    ui-gmap-google-map(center='resort.map.center' zoom='resort.map.zoom' options="resort.mapOptions")
      ui-gmap-marker(coords="resort.mapMarker" idKey="1" options="{ draggable: true }" events="{dragend : markerDragEnd}")

