form(name="mapsForm")  
  div(layout="row")        
    div(flex)
      md-text-float(label='url' ng-model='mapUrl' type="url" required)
      md-button.md-primary(ng-click="addMap(mapUrl)") Add Map          
  div(layout="column" ng-repeat="map in resort.maps")  
      img(width="400" height="600" ng-src="{{map.src}}")
      md-button.md-warning(ng-click="removeMap(map)") Remove

