form(name="pricesForm")  
  div(layout="row")        
    div(flex)
      input(type="file" ng-file-select ng-model="priceFiles" multiple="true" accept="image/*" ng-file-change="setPricesFromFiles(priceFiles)")     
  div(layout="column" ng-repeat="price in resort.prices")      
    md-text-float(label='tag' ng-model='price.tag' required)      
    md-text-float(label='title' ng-model='price.title' required)    
    md-text-float(label='href' ng-model='price.href' type="url")          
    img(width="400" height="600" ng-src="{{price.src}}")
    md-button.md-warning(ng-click="removePrice(price)") Remove

