md-button.md-fab(ng-disabled="!toolbar.isResetEnabled()" ng-click="toolbar.reset()" aria-label="Reset")
  md-icon(icon="bower_components/material-design-icons/content/svg/production/ic_redo_24px.svg")                                    
md-button.md-fab(ng-disabled="!toolbar.isSaveEnabled()" ng-click="toolbar.save()", aria-label="Save")
  md-icon(icon="bower_components/material-design-icons/content/svg/production/ic_save_24px.svg")                        
