md-bottom-sheet.md-grid
  p.md-grid-text  Create Resort
  form(name="addNewForm")
    md-text-float(label="Id" name="id" ng-model="resort.id" required)
    md-text-float(label="Title" name="title" ng-model="resort.title" required)
    md-button.md-raised.md-primary(ng-click="create()") Create
