form(name="prosConsForm")
  div(layout="row")        
    div(flex)
      md-button.md-primary(ng-click="addPros()") Add Pros    
      div(ng-repeat="pro in resort.pros" layout="row")
        md-text-float(label='Pros' ng-model='pro.val')
        md-button.md-primary.small(ng-click="removePros(pro)") x
    div(flex="5")
    div(flex)
      md-button.md-primary(ng-click="addCons()") Add Cons
      div(ng-repeat="con in resort.cons" layout="row")
        md-text-float(label='Cons' ng-model='con.val')          
        md-button.md-primary.small(ng-click="removeCons(con)") x


